<h3>Edit Address:</h3>
<% if @address.errors.full_messages.any? %>
	<ul>
		<% @address.errors.full_messages.each do |error_message| %>
		<li><%= error_message %></li> <br />
		<% end %>
	<ul>
<% end %>
<%= form_for [@user, @address], url: user_address_path do |f| %>
	<%= f.label "Addressee's Name (as it would appear on envelope)*" %><br>
	<%= f.text_field :name %><br>
	<%= f.label "Address Line 1*" %><br>
	<%= f.text_field :address_line1 %><br>
	<%= f.label "Address Line 2" %><br>
	<%= f.text_field :address_line2 %><br>
	<%= f.label "City*" %><br>
	<%= f.text_field :address_city %><br>
	<%= f.label "State*" %><br>
	<%= f.select :address_state, options_for_select(us_states, @address.address_state), include_blank: true %><br>
	<%= f.label "Zip Code*" %><br>
	<%= f.text_field :address_zip %><br>
	<%= label_tag "Make this my primary 'From' address" %>
	<%= check_box_tag :primary_address, value = "1", checked = false %><br>
	<%= f.submit 'Update Address' %>
<% end %>
 