<div class="units-row units-padding">
    <div class="unit-100">
        <h2><%= current_user.fname %>'s Address Book</h2>

		<% if current_user.addresses.blank? %>
			<p>You have no saved addresses. Add some <%= link_to "here", new_user_address_path %>.</p>
		<% else %>

		<h3>My Address</h3>
			<ul>
				<li><%= @addresses.find_by(id: current_user.address_id).name %><br>
				<%= @addresses.find_by(id: current_user.address_id).address_line1 %><br>
				<%= "#{@addresses.find_by(id: current_user.address_id).city}, #{@addresses.find_by(id: current_user.address_id).state} #{@addresses.find_by(id: current_user.address_id).zip}" %>
				</li>
			</ul>
		<h3>Saved Addresses</h3>
		<% current_user.addresses.each do |address| %>
			<ul>
				<% if address.id == current_user.address_id %>	
				<% else %>
					<li>
						<%= address.name %><br>
						<%= address.address_line1 %><br>
						<%= "#{address.city}, #{address.state} #{address.zip}" %><br>
						<%= link_to "Edit", edit_user_address_path(user_id: current_user.id, id: address.id) %> | 
						<%= link_to("Delete", user_address_path(user_id: current_user.id, id: address.id), method: :delete)%>
					</li>
				<% end %>
			</ul>
		<% end %>
		
		<p><%= link_to "Add New Address", new_user_address_path %></p>
		
		<% end %>
    </div>
</div>
