<div class="units-row units-padding">
    <div class="unit-100">
        <h3>Add a Contact</h3>
        <h4>Address (US only)</h4>
	<% if @address.errors.full_messages.any? %>
		<ul>
			<% @address.errors.full_messages.each do |error_message| %>
			<li><%= error_message %></li> <br />
			<% end %>
		<ul>
	<% end %>
	<%= form_for [@user, @address], url: user_address_index_path do |f| %>
		<%= f.label "Addressee's Full Name (as it would appear on envelope)*" %><br>
		<%= f.text_field :name %><br>
		<%= f.label "Address Line 1*" %><br>
		<%= f.text_field :address_line1 %><br>
		<%= f.label "Address Line 2" %><br>
		<%= f.text_field :address_line2 %><br>
		<%= f.label "City*" %><br>
		<%= f.text_field :city %><br>
		<%= f.label "State*" %><br>
		<%= f.select :state, options_for_select(us_states), :prompt => "Select a State" %><br>
		<%= f.label "Zip Code*" %><br>
		<%= f.text_field :zip %><br>
		<p style="margin-bottom:0;">Country:</p>
		<p style="margin-bottom:0;">United States</p><br>
		<%= check_box_tag :primary_address, value = "1", checked = false %>
		<%= label_tag "Save this as my address (this will be used as the return address on your cards)" %><br><br>
		<h4>Birthday</h4>
		<%= date_select("address", "birthday", order: [:day, :month, :year], start_year: 1900, end_year: Date.current.year) %><br><br>
		<%= f.submit 'Add Address' %>
	<% end %>
    </div>
</div>
