<div id="profileContainer" class="units-container general-container">
    	<h2>Review Card</h2>
    	<div class="units-row">
			<div class="unit-30">
				<%= "<img class='templateThumb' style='width:100%;' src='/card_templates/#{@card.card_template.thumb_path}'>".html_safe %>
			</div>
			<div class="unit-70">
			<h4>Name:</h4>
		<p><%= @card.name %></p>
		<h4>Message:</h4>
		<p><%= @card.message %></p>
		<h4>Send to (<%= @card.addresses.count %>) Contacts:</h4>
		<% if @card.addresses.blank? %>
			<p><%= link_to "Add a contact(s)", edit_user_card_path(user_id: current_user.id, id: params[:id]) %></p>
		<% else %>	
		<table class="profile_AddressTable">
			<thead>
		        <tr>
		            <th>Name</th>
		            <th>Birthday</th>
		            <th>Will be sent for delivery on</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<% @card.addresses.each do |address| %>
		        	<tr>
						<td><%=address.fname%> <%=address.lname%></td>
						<td><%= address.birthday.to_formatted_s(:long_ordinal) %></td>
						<td><%= set_delivery_date(address.birthday).to_formatted_s(:long_ordinal) %></td>	
					</tr>
				<%end%>
		    </tbody>
		</table>
		<%end%>

		<p><%= link_to edit_user_card_path(user_id: current_user.id, id: params[:id]) do %>
			<i class="fa fa-pencil fa-lg"></i>
		<% end %> 
		<%= link_to user_card_path(user_id: current_user.id, id: params[:id]), method: :delete do %>
			<i class="fa fa-trash-o fa-lg"></i>
		<% end %> 
		<% if @card.status == "ordered" %>
			<p>This card has been ordered. <%= link_to "View my cart.", user_order_path(user_id: current_user.id, id: current_order.id)%></p>
		<% elsif @card.status == "in cart" %>
			| In Cart <%= link_to "(Remove)", remove_from_cart_path(card_id: @card.id), method: :post %></p>
		<% else %>
		<% if @card.addresses.blank? %>
			<br><br>
			<span style="cursor:not-allowed;" class="btn">Add to Cart</span><br>
			You need to choose at least one contact to send this card to<br>before you can add it to your cart.
		<% else %>
			<%= form_tag add_to_cart_path, method: 'post' do %>
				<%= hidden_field_tag :card_id, @card.id %>
				<%= submit_tag "Add to Cart" %>
			<% end %>
		<% end %>
		<% end %></div>
		</div>
</div>
