<!DOCTYPE html>
<html>
<head>
  <title>Cardeasy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>

</head>
<body>

	<% if notice %>
    <div class="flashMessages" id="flashNotice" >
      <h4><%= notice %> | <span class="dismissFlash">x</span></h4>
    </div>
  <% end %>
  <% if alert %>
    <div class="flashMessages" id="flashAlert">
      <h4><%= alert %> | <span class="dismissFlash">x</span></h4>
    </div>
  <% end %>

	<nav>
		<ul id="navLinks">
			<li><%= link_to 'Home', root_path %></li>
			<%= render 'devise/menu/registration_items' %>
			<%= render 'devise/menu/login_items' %>
		</ul>
	</nav>



<div class="units-container">

  <%= yield %>

</div>

</body>
</html>
